.col-aside {
  padding-right: 0;
  /* width: 20%; */
}

/* [class*="container"] {
  border: 1px dashed #eee;
  background-clip: content-box;
} */

.row [class*="col"] {
  /* background-color: #efefef;
  background-clip: content-box; */
}

.nav-item {
  background-color: #eeeeff;
  background-clip: content-box;
}
.barra-de-rolagem {
  height: 150px;
  overflow-y: scroll;
}

.box-main {
  padding: 0;
  margin-left: 5px;
}
/* .box-statistics {
  align-items: start;
  justify-content: space-between;
  margin: 0;
} */
/* .box-chart {
  width: 70%;
  margin-right: 2px;
} */
/* .box-statistics-data {
  width: 22%;
} */
.charts{
  margin-right: 15px;
  margin-left: 15px;
}

/* .movable-bar{
  border-right:  1px solid hsla(200, 10%, 50%,100);
} */

/* @media(max-width: 1012px) {
  .box-chart{
    width: 75%;
  }
} */

@media (max-width: 760px) {
  .box-statistics {
    align-items: center;
    justify-content: center;
  }
  .box-chart {
    width: 100%;
  }
  .charts{
    margin:auto;
  }
  .movable-bar{
    border-right: none;
    border-bottom: 1px solid hsla(200, 10%, 50%,100);
  }
  /* .barra-horizontal {
    border: none;
    border-bottom: 1px solid black;
    box-sizing: border-box;
  } */
  .box-statistics-data {
    width: 100%;
    /* align-items: center;
    justify-content: space-between; */
  }
}
