.variants-table{
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    overflow-x: auto;
  }
  /* .data-table{
    width: 100%;
  } */
.scrollable {
    width: 100%;
    height: 55px;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.text-table{
  font-size: 10pt;
}
.text-align{
  text-align: center;
}