
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .container{
  margin-left: 3rem;
} */

[class*="container-fluid"] {
  padding-left: 40px;
  padding-right: 40px;
  
}
[class*="container-fluid"] {
  border: 1px dashed yellow;
  background-clip: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  /* flex-shrink: 0; */
  text-align: center;
  padding-top: 50px;
}
